@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300;1,500;1,700&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
}


body{
    font-family: 'Montserrat', sans-serif;
    line-height:1.7;
    
}
ul li{
    list-style:none;
}
a{
    font-size:1.6rem;
    text-decoration: none;
}
p, li{
    font-size:1.6rem;
    margin-bottom:0.5em;
    letter-spacing:0.15rem;
}
h1 ,h2,h3{
    margin-bottom:0.5em;
    letter-spacing: 0.15em;
    font-weight:500;
}



/* **********Next part ******************** */


.Ig.heading{
    font-size:3.5em;
}
.md-heading{
    font-size:2.2em;
}

.text-red{
    color:#e63946;
}
.text-light{
    color:#f4f4f4;
}
.text-black{
    color:#333;
}

/* ************************** section part  */

.first-section{
    text-align: center;
    margin-top:220px;
}

.first-color{
    color:white;
    font-size:3.5rem;
}

.second-color{
    color:antiquewhite;
}

.first-btn{
    padding:10px;
    width:160px;
    border-radius:25px;
    color:tomato;
}


.header{
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../image/header-image.jpg");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}

.nav-bar{
    padding:1rem;
}

.header .logo,
.header .nav-bar a{
    color:white;
}

.nav-bar a:link,
.nav-bar a:visited {
    color:#f4f4f4;
}

.header .nav-bar .logo{
    float:left;
    padding:1rem;
    font-size:2.5rem;
    margin-left:350px;
    
}
.header .nav-bar .nav-items{
    float:right;
    margin-top:1rem;
    margin-right:100px;
}
.header .nav-bar .nav-item{
    display:inline-block;
    padding:1rem;
    text-transform:uppercase;

}
.nav-bar::after{
    content:"";
    display:block;
    clear:both;
}








/* Conatct Section */

.about-us{
    margin-top:20px;
    margin-left:0px;
    border-bottom:5px solid tomato;
}

.about-div{
    text-align:center;
    margin:0px 20%;
}

.about-para{
    margin-left:0px;
}


.paragraph-section{
    margin:40px;
    display:inline-block;
}

.paragraph-section p{
    margin-left:5px;
}

.fas fa-check{
    color:red;
}


.travelled{
    display:inline-block;
    margin:50px;
}

.h1-section{
    color:tomato;
    font-size:2.5rem;
    font-weight:900;
}

.h3-section{
    font-weight:900;
}

.footer{
    margin-left:0px;
    display:inline-block;
}
.footer .paragraph{
    margin-left:0px;
}

#first-footer{
    height:10%;
    background: rgba(255, 165, 0, 0.73);
    box-shadow: #f4f4f4;
}

#anchor-footer{
    padding:8px;
    border:1px solid rgb(255, 238, 238);
    right:0px;
}






/* ********** Contact Details  */

.location-para{
    border-bottom:4px solid tomato;
}
.main-contact{
    margin:0px 25%;
    margin-top:50px;
   
}
.contact-detail{
    display:inline-block;
  
}

.contact-image{
    width:100%;
}

#first-contact{
    height:550px;
    width:350px;
    margin-right:5px;
    background-color: #f4f4f4;
   
   
}

#second-contact{

    height:550px;
    width:350px;
    margin-left:5px;
    background-color: #f4f4f4;
   

}

input{
    width:100%;
    padding:8px;
}

.text-area{
    width:100%;
}

.submit-btn{
    width:30%;
   
    background-color: tomato;
}
.center-button{
    text-align:center;
}




/*  Another section part */


.main-div{
    height:800px;
    margin-top:100px !important;
    margin:0px 20%;
    
}
.index-div{
    display:flex;
    margin-bottom:160px;
    height: 260px;
    width:960px;

}

.first-index {
    margin-right:-7px;
    padding-left:8px;
    width:500px;
    background-color: #ffffff;
}

.second-index{
    margin-right:-20px;
    padding-left:8px;
    width:500px;
    background-color: #ffffff;
}

.second-index-div{
   display:flex;
   height:260px;
   width:960px;
}

.second-index{
    float:left;
}
.index-image{
    height:260px;
    width:500px;
}

.index-btn{
    width:76px;
    margin:2px;
    border-radius:21px;
    border-color:tomato;
    background-color: #ffffff;
    color:tomato;
}